@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
}

.header__ {
  background-color: rgb(6, 3, 141);
  color: white;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.header__ a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header__ a:hover {
  color: rgb(255, 255, 255);
}
.header__ .nav__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ .nav__ .nav_items__ > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  gap: 1rem;
  padding-left: 7rem;
}
.header__ .nav__ .nav_items__ > ul .dropdown-menu {
  margin-top: 1.3rem !important;
  background-color: #06038d;
  color: #f8f9fa;
}
.header__ .nav__ .nav_items__ > ul .dropdown-menu a:hover {
  background-color: #ee2a7b;
  color: #f8f9fa;
}
.header__ .nav__ .nav_items__ button {
  background-color: rgb(0, 182, 21);
  color: rgb(255, 255, 255);
}
.header__ button {
  margin-left: 0.2rem;
  padding: 6px 0.5rem;
  min-width: 120px;
  border-radius: 0.5rem;
  border: none;
}
.header__ .nav__signUp > :first-child {
  background-color: rgb(255, 255, 255);
  color: rgb(6, 3, 141);
}
.header__ .nav__signUp > :nth-child(2) {
  background-color: rgb(238, 42, 123);
  color: rgb(255, 255, 255);
}

.header__scrolled {
  background: linear-gradient(293deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  padding: 1.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.offcanvas___ {
  width: 80vw !important;
  /* Accordion Styling */
}
.offcanvas___ .offcanvas-header__ {
  background: linear-gradient(90deg, #6228d7 0%, #ee2a7b 100%);
  padding-bottom: 1rem;
}
.offcanvas___ .offcanvas-header__ .offcanvas__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 0;
}
.offcanvas___ .offcanvas-header__ .offcanvas__logo img {
  max-width: 90px;
}
.offcanvas___ .offcanvas-header__ .offcanvas__logo h5 {
  margin-bottom: 0;
}
.offcanvas___ .offcanvas-header__ .offcanvas__login__ {
  padding-left: 0.5rem;
}
.offcanvas___ .offcanvas-header__ .offcanvas__login__ button {
  background-color: rgb(238, 42, 123);
  color: rgb(255, 255, 255);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
}
.offcanvas___ .offcanvas-header__ .offcanvas__login__ > :first-child {
  background-color: rgb(255, 255, 255);
  color: #06038d;
  font-weight: 500;
}
.offcanvas___ .offcanvas-body {
  padding: 0;
}
.offcanvas___ .offcanvas-body > ul {
  padding-left: 0;
}
.offcanvas___ .offcanvas-body > ul > :nth-child(4),
.offcanvas___ .offcanvas-body > ul > :nth-child(5) {
  padding: 0;
}
.offcanvas___ .accordion-item:first-of-type .accordion-button {
  background-color: transparent;
  color: black;
}
.offcanvas___ .offcanvas-body ul li {
  color: black;
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 0.8rem;
  font-weight: 500;
  font-size: 16px; /* Match font size */
}
.offcanvas___ .bg__dark {
  background-color: #06038d;
  color: white !important;
  border-bottom: none;
}
.offcanvas___ .accordion-item {
  border: none !important; /* Remove border */
  background: none !important;
}
.offcanvas___ .accordion-header {
  border: none !important;
}
.offcanvas___ .accordion-button {
  background: none;
  border: none !important;
  font-weight: 500;
  padding: 0.8rem;
  font-size: 16px; /* Match font size */
  box-shadow: none !important; /* Remove button shadow */
}
.offcanvas___ .accordion-button:focus {
  box-shadow: none !important;
}
.offcanvas___ .accordion-body {
  background-color: rgb(225, 225, 225);
  padding: 0;
}
.offcanvas___ .accordion-body ul {
  padding-left: 0;
  margin-bottom: 0;
}
.offcanvas___ .accordion-body ul li {
  padding: 0.5rem;
  border-bottom: 1px solid darkgray;
  font-size: 16px;
  padding: 0.8rem;
}
.offcanvas___ .offcanvas_main_btn {
  width: 85%;
  margin: 0 auto;
  display: block;
  background-color: rgb(0, 182, 21);
  color: white;
  padding: 0.4rem;
  font-size: 16px;
}

.hero__ {
  background: linear-gradient(90deg, #6228d7 0%, #ee2a7b 100%);
  padding: 4rem;
}
.hero__ .hero__main h2 {
  font-size: 3.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero__ .hero__main h2 span {
  font-weight: 800;
}
.hero__ .hero__main .hero_selection {
  padding: 0.5rem 0 1.5rem;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
}
.hero__ .hero__main .hero_selection > :nth-child(2) {
  margin-left: 0.8rem;
}
.hero__ .hero__main .hero_selection label {
  cursor: pointer;
}
.hero__ .hero__main .hero_selection input {
  height: 20px;
  width: 20px;
  margin-right: 0.1rem;
  cursor: pointer;
}
.hero__ .hero__main .hero_selection input:checked {
  accent-color: #6628d5;
  background-color: rgb(255, 255, 255);
  border: none;
}
.hero__ .hero__main .hero_serchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid white;
  max-width: 35vw;
  padding: 0.4rem 1rem;
  background-color: rgb(233, 233, 233);
  border-radius: 2rem;
}
.hero__ .hero__main .hero_serchbar .input___ input {
  background-color: transparent;
  border: none;
  min-width: 27vw;
}
.hero__ .hero__main .hero_serchbar .input___ input::-moz-placeholder {
  color: #000;
}
.hero__ .hero__main .hero_serchbar .input___ input::placeholder {
  color: #000;
}
.hero__ .hero__main .hero_serchbar .input___ input:focus {
  outline: none;
}
.hero__ .hero__main .hero_serchbar button {
  position: relative;
  padding: 6px 1.4rem;
  border-radius: 2rem;
  background: linear-gradient(180deg, #ee2a7b 0%, #6228d7 100%);
  border: none;
  color: rgb(233, 233, 233);
}
.hero__ .hero__main p {
  padding: 0.5rem;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
.hero__ .hero__main p a {
  margin-left: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.uk_room_rental__ {
  padding: 4rem;
}
.uk_room_rental__ .uk_rental_main h3 {
  font-weight: 800;
}
.uk_room_rental__ .uk_rental_main p {
  padding: 0.5rem 6rem;
  margin-bottom: 0;
}
.uk_room_rental__ .uk_rental_cards {
  padding: 2rem 0;
}
.uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
  min-height: 290px;
  padding: 1.5rem 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0px 14px 34px 18px rgba(217, 217, 217, 0.6);
}
.uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_img {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt {
  padding-top: 0.5rem;
}
.uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
  font-weight: 500;
}
.uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
  padding: 0 0.5rem;
  line-height: 25px;
}
.uk_room_rental__ button {
  margin: 1.5rem;
  background-color: rgb(238, 42, 123);
  color: rgb(255, 255, 255);
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  border: none;
}

.spare_room__ {
  background-color: rgb(247, 247, 247);
  padding: 5rem 0;
  text-align: center;
  position: relative;
}
.spare_room__ .spare_room_main h3 {
  margin-bottom: 1rem;
  font-weight: 800;
}
.spare_room__ .spare_room_main p {
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 2rem;
}
.spare_room__ .spare_room_slider {
  overflow-x: hidden;
  padding: 1rem 0;
}
.spare_room__ .spare_room_slider .spare_room_card {
  background-color: white;
  text-align: start;
  border-radius: 1.5rem;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_card_img {
  position: relative;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_card_img img {
  width: 100%;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_card_img .offers___ {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_card_img .offers___ p {
  background-color: #ee2a7b;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 0.5rem;
  margin-left: auto;
  font-size: 14px;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_card_img .offers___ .rightside__ {
  text-align: end;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
  padding: 1.2rem;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details p {
  margin-bottom: 0;
  padding: 3px 0;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details p span {
  color: rgb(6, 3, 141);
  font-size: 1.2rem;
  font-weight: 500;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details .room_icons {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details .room_icons p {
  margin-bottom: 0;
  height: auto;
  padding: 0 0.8rem 0 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details .room_icons > :first-child,
.spare_room__ .spare_room_slider .spare_room_card .spare_room_details .room_icons :nth-child(2) {
  border-right: 2px solid lightgrey;
}
.spare_room__ .sliderIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 3rem;
  top: 50%;
  cursor: pointer;
}
.spare_room__ .sliderIcons .sliderIcon___ {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spare_room__ .sliderIcons .sliderIcon___ i {
  font-size: 1.5rem;
  color: black;
}
.spare_room__ .outerslider__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0.5rem 0;
}
.spare_room__ .outerslider__dots .outer_dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(217, 217, 217);
}
.spare_room__ .outerslider__dots .active {
  background-color: #ee2a7b;
}
.spare_room__ button {
  margin: 1.5rem;
  background-color: rgb(238, 42, 123);
  color: rgb(255, 255, 255);
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  border: none;
}

.cost_saving__ {
  background-image: url(../img/cost-saving-bg.png);
  padding: 4rem;
  color: rgb(255, 255, 255);
}
.cost_saving__ .cost-saving-details h4 {
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}
.cost_saving__ .cost-saving-details p {
  max-width: 89%;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-weight: 200;
}

.blogs_section__ {
  padding: 4rem 0;
}
.blogs_section__ .blog_card___ {
  background: linear-gradient(180deg, #ee2a7b 0%, #06038d 100%);
  border-radius: 1rem;
  margin-inline: 1rem;
}
.blogs_section__ .blog_card___ .blog_leftside__ {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  background-image: url(../img/card_caurv.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  height: 100%;
  background-position: right;
}
.blogs_section__ .blog_card___ .blog_leftside__ h4 {
  font-weight: 800;
  font-size: 2rem;
  padding-right: 4rem;
}
.blogs_section__ .blog_card___ .blog_leftside__ button {
  background-color: rgb(238, 42, 123);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 0.8rem;
  min-width: 65%;
}
.blogs_section__ .blog_card___ .blog_leftside__ p {
  margin-bottom: 0.8rem;
}
.blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
  max-width: 88%;
}
.blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(4) {
  max-width: 97%;
}
.blogs_section__ .blog_card___ .blog_rightside {
  text-align: center;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: start;
}
.blogs_section__ .blog_card___ .blog_rightside img {
  width: 200px;
}

.footer__ {
  background-color: rgb(6, 3, 141);
}
.footer__ .footer_main__ {
  padding: 3rem 0;
  color: rgb(233, 233, 233);
}
.footer__ .footer_main__ .border___ {
  border: 3px solid rgb(233, 233, 233);
  width: 65px;
}
.footer__ .footer_main__ h4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}
.footer__ .footer_main__ .footer_sub {
  padding: 1rem;
}
.footer__ .footer_main__ .footer_sub .newslatter__ {
  padding: 0.5rem 0;
  padding-top: 1rem;
}
.footer__ .footer_main__ .footer_sub .newslatter__ input {
  margin-top: 0.4rem;
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  outline: none;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
.footer__ .footer_main__ .footer_sub .newslatter__ input::-moz-placeholder {
  color: #000;
  font-size: 14px;
}
.footer__ .footer_main__ .footer_sub .newslatter__ input::placeholder {
  color: #000;
  font-size: 14px;
}
.footer__ .footer_main__ .footer_sub .newslatter__ input:focus {
  outline: none;
}
.footer__ .footer_main__ .footer_sub .newslatter__ button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(238, 42, 123);
  color: rgb(233, 233, 233);
}
.footer__ .footer_main__ .footer_sub .social_media__ {
  padding: 0.5rem 0;
}
.footer__ .footer_main__ .footer_sub .social_media__ img {
  margin-inline: 0.2rem;
}
.footer__ .footer_main__ .footer_sub .social_media__ > :first-child {
  margin: 0;
}
.footer__ .footer_main__ .footer_sub p {
  padding: 0.5rem 0;
  max-width: 71%;
}
.footer__ .footer_main__ .footer_sub ul {
  list-style-type: none;
  padding-left: 0;
}
.footer__ .footer_main__ .footer_sub ul li {
  margin-bottom: 0.2rem;
}
.footer__ .footer_main__ .footer_sub ul li img {
  margin-right: 0.4rem;
}
.footer__ .footer_main__ .footer_sub .accordian__header {
  background: rgb(6, 3, 141);
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  box-shadow: none !important;
  border-top: 2px solid white;
  margin-top: 17px;
}
.footer__ .footer_main__ .footer_sub .accordion-item {
  border-top: 1px solid white;
}
.footer__ .footer_main__ .footer_sub .accordion-button::after {
  filter: brightness(0) invert(1);
}
.footer__ .footer_main__ .footer_sub .accordion-button:focus {
  box-shadow: none !important;
}
.footer__ .footer_main__ .footer_sub .accordian__ul {
  list-style: none;
  padding-left: 15px;
  margin-bottom: 0;
}
.footer__ .footer_main__ .footer_sub .accordian__ul li {
  padding: 2px 0;
  font-size: 14px;
}
.footer__ .footer_main__ .footer_sub .accordion-body {
  background: rgb(6, 3, 141);
  padding: 0;
}

.copyright_ {
  background-color: #ee2a7b;
  color: rgb(255, 255, 255);
  padding: 1.2rem;
}
.copyright_ p {
  margin-bottom: 0;
}

.mobile_view_bottom_bar {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: rgb(6, 3, 141);
  color: rgb(255, 255, 255);
  width: 100%;
}
.mobile_view_bottom_bar .bottom_bar_icon_box {
  text-align: center;
  padding: 8px;
}
.mobile_view_bottom_bar .bottom_bar_icon_box img {
  max-width: 25px;
  margin-bottom: 4px;
}
.mobile_view_bottom_bar .bottom_bar_icon_box p {
  margin-bottom: 0;
  font-size: 14px;
}

.need_help__main {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
}
.need_help__main .need_help___ {
  z-index: 9;
  text-align: end;
}
.need_help__main .need_help___ button {
  background-color: #ee2a7b;
  color: #f8f9fa;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
.need_help__main .need_help_msg {
  position: relative;
  background-color: #06038d;
  color: #f8f9fa;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: none;
}
.need_help__main .need_help_msg .cross___ {
  position: absolute;
  right: 0;
  top: -1rem;
  height: 15px;
  width: 15px;
  background-color: #ee2a7b;
  color: #ee2a7b;
  z-index: 99;
}
.need_help__main .need_help_msg p {
  margin-bottom: 0;
}

@media only screen and (max-width: 576px) {
  html {
    overflow-x: hidden;
  }
  body {
    padding-top: 70px;
    overflow-x: hidden;
  }
  .header__ {
    padding: 0.8rem 0.5rem;
  }
  .header__ .nav__ {
    gap: 1rem;
    padding: 0.4rem;
  }
  .header__ .nav_items__ {
    display: none;
  }
  .header__ .logo__ img {
    max-width: 100px;
  }
  .header__ .nav__signUp {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .header__ .nav__signUp .offcanvas_icons__ {
    padding-left: 0.5rem;
    text-align: start;
    margin: 0;
    background-color: transparent;
  }
  .header__ .nav__signUp .offcanvas_icons__ i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  .header__ button {
    min-width: 65px;
    font-size: 12px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero__ {
    padding: 1.3rem 0.5rem;
  }
  .hero__ .hero__main h2 {
    font-size: 1.8rem;
    line-height: normal;
  }
  .hero__ .hero__main .hero_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.6rem;
  }
  .hero__ .hero__main .hero_selection > :nth-child(2) {
    margin-left: 0.2rem;
  }
  .hero__ .hero__main .hero_selection label {
    font-size: 19px;
  }
  .hero__ .hero__main .hero_selection input {
    height: 20px;
    width: 20px;
  }
  .hero__ .hero__main .hero_selection input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_selection input::placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_serchbar {
    max-width: 100vw;
  }
  .hero__ .hero__main .hero_serchbar button {
    display: none;
  }
  .mobileView_search_btn {
    width: 100%;
    background-color: rgb(6, 3, 141);
    color: rgb(255, 255, 255);
    padding: 0.6rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    border: none;
    font-size: 14px;
  }
  .hero__ .hero__main p {
    font-size: 1rem;
    padding: 0;
  }
  .uk_room_rental__ {
    padding: 1.5rem 0.4rem;
  }
  .uk_room_rental__ .uk_rental_main h3 {
    font-size: 1.4rem;
  }
  .uk_room_rental__ .uk_rental_main > :nth-child(3) {
    display: none;
  }
  .uk_room_rental__ .uk_rental_main p {
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
  }
  .uk_room_rental__ .uk_rental_cards {
    padding: 0.5rem 0;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
    margin-bottom: 1rem;
    padding: 1rem;
    min-height: 260px;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
    font-size: 13px;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
  }
  .uk_room_rental__ button {
    width: 100%;
    margin: 0;
  }
  .spare_room__ {
    padding: 1.5rem 0.4rem;
    text-align: start;
  }
  .spare_room__ .spare_room_main h3 {
    font-size: 1.5rem;
  }
  .spare_room__ .spare_room_main p {
    display: none;
  }
  .spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
    position: absolute;
  }
  .spare_room__ button {
    margin: 0;
    width: 100%;
  }
  .spare_room__ .spare_room_slider {
    display: none !important;
  }
  .spare_room__ .sliderIcons {
    display: none;
  }
  .blogs_section__ {
    padding: 0;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    background-image: none;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .blogs_section__ .blog_card___ {
    border-radius: 0;
    border: none;
    text-align: center;
    margin-inline: 0;
  }
  .blogs_section__ .blog_card___ button {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :first-child {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :last-child {
    display: none;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ h4 {
    padding-right: 0;
    font-size: 1.4rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :last-child {
    display: none;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
    max-width: 100%;
    font-size: 14px;
  }
  .blogs_section__ .blog_card___ .blog_rightside {
    padding: 1rem;
  }
  .cost_saving__ {
    padding: 1rem 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cost_saving__ .cost-saving-details h4 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .cost_saving__ .cost-saving-details p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    max-width: 100%;
  }
  .copyright_ {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  .copyright_ p {
    font-size: 12px;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }
  .copyright_rightside__ p {
    display: inline;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .media__desktop {
    display: none;
  }
  .footer__ .footer_main__ {
    padding: 1rem 0;
  }
  .footer_logo {
    margin-bottom: 1rem;
  }
  .footer__ .footer_main__ .footer_sub {
    padding: 1rem 0.2rem;
  }
  .footer__ .footer_main__ .footer_sub .accordian__ul li {
    font-size: 15px;
  }
  .footer__ .footer_main__ .footer_sub ul {
    font-size: 14px;
  }
  .footer__ .footer_main__ .footer_sub ul li {
    margin-bottom: 0.4rem;
  }
  .footer__ .footer_main__ .footer_sub p {
    max-width: 100%;
  }
  .social_media__ {
    padding: 1rem 0;
  }
  .social_media__ img {
    margin-inline: 4px;
  }
  .social_media__ > :first-child {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) {
  .media_mobile {
    display: none;
  }
  .blog_leftside__ p span {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  body {
    padding-top: 70px;
    overflow-x: hidden;
  }
  .header__ {
    padding: 0.8rem 0.5rem;
  }
  .header__ .nav__ {
    gap: 1rem;
    padding: 0.4rem;
  }
  .header__ .nav_items__ {
    display: none;
  }
  .header__ .logo__ img {
    max-width: 150px;
  }
  .header__ .nav__signUp {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .header__ .nav__signUp .offcanvas_icons__ {
    padding-left: 0.5rem;
    text-align: start;
    margin: 0;
    background-color: transparent;
  }
  .header__ .nav__signUp .offcanvas_icons__ i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  .header__ button {
    min-width: 100px;
    font-size: 15px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero__ {
    padding: 1.3rem 0.5rem;
  }
  .hero__ .hero__main h2 {
    font-size: 2.4rem;
    line-height: normal;
  }
  .hero__ .hero__main .hero_selection {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 0.6rem;
  }
  .hero__ .hero__main .hero_selection > :nth-child(2) {
    margin-left: 0.2rem;
  }
  .hero__ .hero__main .hero_selection label {
    font-size: 19px;
  }
  .hero__ .hero__main .hero_selection input {
    height: 16px;
    width: 16px;
  }
  .hero__ .hero__main .hero_selection input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_selection input::placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_serchbar {
    max-width: 100vw;
  }
  .hero__ .hero__main .hero_serchbar button {
    display: none;
  }
  .mobileView_search_btn {
    width: 100%;
    background-color: rgb(6, 3, 141);
    color: rgb(255, 255, 255);
    padding: 0.6rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    border: none;
    font-size: 14px;
  }
  .hero__ .hero__main p {
    font-size: 1rem;
    padding: 0;
  }
  .uk_room_rental__ {
    padding: 1.5rem 0.4rem;
  }
  .uk_room_rental__ .uk_rental_main h3 {
    font-size: 1.6rem;
  }
  .uk_room_rental__ .uk_rental_main > :nth-child(3) {
    display: none;
  }
  .uk_room_rental__ .uk_rental_main p {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .uk_room_rental__ .uk_rental_cards {
    padding: 2rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
    margin-bottom: 1rem;
    padding: 2rem;
    min-height: 260px;
    padding-top: 1rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
    font-weight: 700;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
    font-size: 15px;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
  }
  .uk_room_rental__ button {
    width: 90%;
    margin: 0;
  }
  .spare_room__ {
    padding: 1.5rem 0.4rem;
    text-align: start;
  }
  .spare_room__ .spare_room_main h3 {
    font-size: 1.5rem;
  }
  .spare_room__ .spare_room_main p {
    display: none;
  }
  .spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
    position: absolute;
  }
  .spare_room__ button {
    margin: 0;
    width: 100%;
  }
  .spare_room__ .spare_room_slider {
    display: none !important;
  }
  .spare_room__ .sliderIcons {
    display: none;
  }
  .spare_room_mobile h3 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 89%;
  }
  .blogs_section__ {
    padding: 0;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    background-image: none;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: start;
  }
  .blogs_section__ .blog_card___ {
    border-radius: 1rem;
    border: none;
    text-align: center;
    margin: 2rem 0;
  }
  .blogs_section__ .blog_card___ button {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :first-child {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ h4 {
    padding-right: 0;
    font-size: 2rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
    max-width: 100%;
    font-size: 14px;
  }
  .blogs_section__ .blog_card___ .blog_rightside {
    padding: 1rem;
  }
  .cost_saving__ {
    padding: 2rem 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cost_saving__ .cost-saving-details h4 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .cost_saving__ .cost-saving-details p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    max-width: 100%;
  }
  .copyright_ {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  .copyright_ p {
    font-size: 12px;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }
  .copyright_rightside__ p {
    display: inline;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .media__desktop {
    display: none;
  }
  .footer__ .footer_main__ {
    padding: 1rem 0;
  }
  .footer_logo {
    margin-bottom: 1rem;
  }
  .footer__ .footer_main__ .footer_sub {
    padding: 1rem 0.2rem;
  }
  .footer__ .footer_main__ .footer_sub .accordian__ul li {
    font-size: 15px;
  }
  .footer__ .footer_main__ .footer_sub ul {
    font-size: 14px;
  }
  .footer__ .footer_main__ .footer_sub ul li {
    margin-bottom: 0.4rem;
  }
  .footer__ .footer_main__ .footer_sub p {
    max-width: 100%;
  }
  .social_media__ {
    padding: 1rem 0;
  }
  .social_media__ img {
    margin-inline: 4px;
  }
  .social_media__ > :first-child {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    overflow-x: hidden;
  }
  body {
    padding-top: 70px;
    overflow-x: hidden;
  }
  .header__ {
    padding: 0.8rem 0.5rem;
  }
  .header__ .nav__ {
    gap: 1rem;
    padding: 0.4rem;
  }
  .header__ .nav_items__ {
    display: none;
  }
  .header__ .logo__ img {
    max-width: 150px;
  }
  .header__ .nav__signUp {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .header__ .nav__signUp .offcanvas_icons__ {
    padding-left: 0.5rem;
    text-align: start;
    margin: 0;
    background-color: transparent;
  }
  .header__ .nav__signUp .offcanvas_icons__ i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  .header__ button {
    min-width: 123px;
    font-size: 16px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero__ {
    padding: 1.3rem 0.5rem;
  }
  .hero__ .hero__main h2 {
    font-size: 2.8rem;
    line-height: normal;
  }
  .hero__ .hero__main .hero_selection {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 0.6rem;
  }
  .hero__ .hero__main .hero_selection > :nth-child(2) {
    margin-left: 0.2rem;
  }
  .hero__ .hero__main .hero_selection label {
    font-size: 19px;
  }
  .hero__ .hero__main .hero_selection input {
    height: 16px;
    width: 16px;
  }
  .hero__ .hero__main .hero_selection input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_selection input::placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_serchbar {
    max-width: 100vw;
  }
  .hero__ .hero__main .hero_serchbar button {
    display: none;
  }
  .mobileView_search_btn {
    width: 100%;
    background-color: rgb(6, 3, 141);
    color: rgb(255, 255, 255);
    padding: 0.6rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    border: none;
    font-size: 14px;
  }
  .hero__ .hero__main p {
    font-size: 1rem;
    padding: 0;
  }
  .uk_room_rental__ {
    padding: 1.5rem 0.4rem;
  }
  .uk_room_rental__ .uk_rental_main h3 {
    font-size: 1.6rem;
  }
  .uk_room_rental__ .uk_rental_main > :nth-child(3) {
    display: none;
  }
  .uk_room_rental__ .uk_rental_main p {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .uk_room_rental__ .uk_rental_cards {
    padding: 2rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
    margin-bottom: 1rem;
    padding: 2rem;
    min-height: 260px;
    padding-top: 1rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
    font-weight: 700;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
    font-size: 15px;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
  }
  .uk_room_rental__ button {
    width: 90%;
    margin: 0;
  }
  .spare_room__ {
    padding: 1.5rem 0.4rem;
    text-align: start;
  }
  .spare_room__ .spare_room_main h3 {
    font-size: 1.5rem;
  }
  .spare_room__ .spare_room_main p {
    display: none;
  }
  .spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
    position: absolute;
  }
  .spare_room__ button {
    margin: 0;
    width: 100%;
  }
  .spare_room__ .spare_room_slider {
    display: none !important;
  }
  .spare_room__ .sliderIcons {
    display: none;
  }
  .spare_room_mobile h3 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 89%;
  }
  .blogs_section__ {
    padding: 0;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    background-image: none;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: start;
  }
  .blogs_section__ .blog_card___ {
    border-radius: 1rem;
    border: none;
    text-align: center;
    margin: 2rem 0;
  }
  .blogs_section__ .blog_card___ button {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :first-child {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ h4 {
    padding-right: 0;
    font-size: 2rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
    max-width: 100%;
    font-size: 14px;
  }
  .blogs_section__ .blog_card___ .blog_rightside {
    padding: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :nth-child(2) {
    display: none;
  }
  .cost_saving__ {
    padding: 2rem 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cost_saving__ .cost-saving-details h4 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .cost_saving__ .cost-saving-details p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    max-width: 100%;
  }
  .copyright_ {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  .copyright_ p {
    font-size: 12px;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }
  .copyright_rightside__ p {
    display: inline;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .media__desktop {
    display: none;
  }
  .footer__ .footer_main__ {
    padding: 1rem 0;
  }
  .footer_logo {
    margin-bottom: 1rem;
  }
  .footer__ .footer_main__ .footer_sub {
    padding: 1rem 0.2rem;
  }
  .footer__ .footer_main__ .footer_sub .accordian__ul li {
    font-size: 12px;
    margin-bottom: 0;
  }
  .footer__ .footer_main__ .footer_sub ul {
    font-size: 14px;
  }
  .footer__ .footer_main__ .footer_sub ul li {
    margin-bottom: 0.4rem;
    font-size: 12px;
  }
  .footer__ .footer_main__ .footer_sub p {
    max-width: 100%;
    font-size: 11px;
  }
  .social_media__ {
    padding: 1rem 0;
  }
  .social_media__ img {
    margin-inline: 4px;
  }
  .social_media__ > :first-child {
    margin: 0;
  }
  .footer__ .footer_main__ h4 {
    font-size: 16px;
  }
  .footer__ .footer_main__ .footer_sub .accordian__header {
    font-size: 14px;
  }
  .newslatter__ label {
    font-size: 12px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input {
    padding: 0.4rem 0.8rem;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::-moz-placeholder {
    font-size: 13px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::placeholder {
    font-size: 13px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    overflow-x: hidden;
  }
  body {
    padding-top: 68px;
    overflow-x: hidden;
  }
  .mobile_view_bottom_bar {
    display: none;
  }
  .header__ {
    padding: 0.8rem 0.5rem;
  }
  .header__ .nav__ {
    gap: 1rem;
    padding: 0.4rem;
  }
  .header__ .nav_items__ {
    font-size: 12px;
  }
  .header__ .logo__ img {
    max-width: 150px;
  }
  .header__ .nav__signUp {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .header__ .nav__signUp .offcanvas_icons__ {
    display: none;
  }
  .header__ .nav__signUp .offcanvas_icons__ i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  .header__ button {
    min-width: 85px;
    font-size: 13px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header__ .nav__ .nav_items__ > ul {
    padding-left: 3rem;
  }
  .hero__ {
    padding: 1.3rem 0.5rem;
  }
  .hero__ .hero__main h2 {
    font-size: 3.8rem;
    line-height: normal;
  }
  .hero__ .hero__main .hero_selection {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 0.6rem;
  }
  .hero__ .hero__main .hero_selection > :nth-child(2) {
    margin-left: 0.2rem;
  }
  .hero__ .hero__main .hero_selection label {
    font-size: 19px;
  }
  .hero__ .hero__main .hero_selection input {
    height: 16px;
    width: 16px;
  }
  .hero__ .hero__main .hero_selection input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_selection input::placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_serchbar {
    max-width: 40vw;
  }
  .hero__ .hero__main .hero_serchbar button {
    display: block;
  }
  .mobileView_search_btn {
    display: none;
  }
  .hero__ .hero__main p {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .uk_room_rental__ {
    padding: 1.5rem 0.4rem;
  }
  .uk_room_rental__ .uk_rental_main h3 {
    font-size: 1.6rem;
  }
  .uk_room_rental__ .uk_rental_main > :nth-child(3) {
    display: none;
  }
  .uk_room_rental__ .uk_rental_main p {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .uk_room_rental__ .uk_rental_cards {
    padding: 2rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
    margin-bottom: 1rem;
    padding: 2rem;
    min-height: 260px;
    padding-top: 1rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
    font-weight: 700;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
    font-size: 15px;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
  }
  .uk_room_rental__ button {
    width: 90%;
    margin: 0;
  }
  .spare_room__ {
    padding: 1.5rem 0.4rem;
    text-align: start;
  }
  .spare_room__ .spare_room_main h3 {
    font-size: 1.5rem;
  }
  .spare_room__ .spare_room_main p {
    display: none;
  }
  .spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
    position: absolute;
  }
  .spare_room__ button {
    margin: 0;
    width: 100%;
  }
  .spare_room__ .spare_room_slider {
    display: none !important;
  }
  .spare_room__ .sliderIcons {
    display: none;
  }
  .spare_room_mobile h3 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 89%;
  }
  .blogs_section__ {
    padding: 0;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    background-image: none;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: start;
  }
  .blogs_section__ .blog_card___ {
    border-radius: 1rem;
    border: none;
    text-align: center;
    margin: 2rem 0;
  }
  .blogs_section__ .blog_card___ button {
    width: 100%;
    font-size: 11px;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :first-child {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ h4 {
    padding-right: 0;
    font-size: 1.2rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(4) {
    font-size: 11px;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
    max-width: 100%;
    font-size: 11px;
  }
  .blogs_section__ .blog_card___ .blog_rightside {
    padding: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :nth-child(2) {
    display: block;
  }
  .cost_saving__ {
    padding: 2rem 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cost_saving__ .cost-saving-details h4 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .cost_saving__ .cost-saving-details p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    max-width: 100%;
  }
  .copyright_ {
    padding: 0.5rem;
  }
  .copyright_ p {
    font-size: 12px;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }
  .copyright_rightside__ p {
    display: inline;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .footer__ .footer_main__ {
    padding: 1rem 0;
  }
  .footer_logo {
    margin-bottom: 1rem;
  }
  .footer__ .footer_main__ .footer_sub {
    padding: 1rem 0.2rem;
  }
  .footer__ .footer_main__ .footer_sub .accordian__ul li {
    font-size: 12px;
    margin-bottom: 0;
  }
  .footer__ .footer_main__ .footer_sub ul {
    font-size: 14px;
  }
  .footer__ .footer_main__ .footer_sub ul li {
    margin-bottom: 0.4rem;
    font-size: 12px;
  }
  .footer__ .footer_main__ .footer_sub p {
    max-width: 100%;
    font-size: 11px;
  }
  .social_media__ {
    padding: 1rem 0;
  }
  .social_media__ img {
    margin-inline: 4px;
  }
  .social_media__ > :first-child {
    margin: 0;
  }
  .footer__ .footer_main__ h4 {
    font-size: 16px;
  }
  .footer__ .footer_main__ .footer_sub .accordian__header {
    font-size: 14px;
  }
  .newslatter__ label {
    font-size: 12px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input {
    padding: 0.4rem 0.8rem;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::-moz-placeholder {
    font-size: 13px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::placeholder {
    font-size: 13px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  html {
    overflow-x: hidden;
  }
  body {
    padding-top: 68px;
    overflow-x: hidden;
  }
  .mobile_view_bottom_bar {
    display: none;
  }
  .header__ {
    padding: 0.8rem 0.5rem;
  }
  .header__ .nav__ {
    gap: 1rem;
    padding: 0.4rem;
  }
  .header__ .nav_items__ {
    font-size: 15px;
  }
  .header__ .logo__ img {
    max-width: 150px;
  }
  .header__ .nav__signUp {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .header__ .nav__signUp .offcanvas_icons__ {
    display: none;
  }
  .header__ .nav__signUp .offcanvas_icons__ i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  .header__ button {
    min-width: 100px;
    font-size: 15px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header__ .nav__ .nav_items__ > ul {
    padding-left: 3rem;
  }
  .hero__ {
    padding: 1.3rem 0.5rem;
  }
  .hero__ .hero__main h2 {
    font-size: 3.8rem;
    line-height: normal;
  }
  .hero__ .hero__main .hero_selection {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 0.6rem;
  }
  .hero__ .hero__main .hero_selection > :nth-child(2) {
    margin-left: 0.2rem;
  }
  .hero__ .hero__main .hero_selection label {
    font-size: 19px;
  }
  .hero__ .hero__main .hero_selection input {
    height: 16px;
    width: 16px;
  }
  .hero__ .hero__main .hero_selection input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_selection input::placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_serchbar {
    max-width: 40vw;
  }
  .hero__ .hero__main .hero_serchbar button {
    display: block;
  }
  .mobileView_search_btn {
    display: none;
  }
  .hero__ .hero__main p {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .uk_room_rental__ {
    padding: 4rem 1rem;
  }
  .uk_room_rental__ .uk_rental_main h3 {
    font-size: 2rem;
  }
  .uk_room_rental__ .uk_rental_main p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0.8rem;
  }
  .uk_room_rental__ .uk_rental_cards {
    padding: 2rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
    margin-bottom: 1rem;
    padding: 2rem;
    min-height: 300px;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
    font-weight: 700;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
    font-size: 15px;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
  }
  .uk_room_rental__ button {
    width: 20%;
    margin: 0;
  }
  .spare_room__ {
    padding: 3.5rem 1rem;
    text-align: start;
  }
  .spare_room__ .spare_room_main h3 {
    font-size: 2rem;
  }
  .spare_room__ .spare_room_main p {
    display: none;
  }
  .spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
    position: relative;
  }
  .spare_room__ {
    text-align: center;
  }
  .spare_room__ button {
    margin: 0 auto;
    width: 25%;
  }
  .spare_room__ .sliderIcons {
    padding: 0;
    padding-right: 2rem;
  }
  .spare_room_mobile h3 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 89%;
  }
  .blogs_section__ {
    padding: 0;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    background-image: none;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: start;
  }
  .blogs_section__ .blog_card___ {
    border-radius: 1rem;
    border: none;
    text-align: center;
    margin: 2rem 0;
  }
  .blogs_section__ .blog_card___ button {
    width: 100%;
    font-size: 14px;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :first-child {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ h4 {
    padding-right: 0;
    font-size: 1.5rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(4) {
    font-size: 14px;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
    max-width: 100%;
    font-size: 16px;
  }
  .blogs_section__ .blog_card___ .blog_rightside {
    padding: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :nth-child(2) {
    display: block;
  }
  .cost_saving__ {
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cost_saving__ .cost-saving-details h4 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .cost_saving__ .cost-saving-details p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    max-width: 100%;
  }
  .copyright_ {
    padding: 0.5rem;
  }
  .copyright_ p {
    font-size: 12px;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }
  .copyright_rightside__ p {
    display: inline;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .media__desktop {
    display: none;
  }
  .footer__ .footer_main__ {
    padding: 1rem 0;
  }
  .footer_logo {
    margin-bottom: 1rem;
  }
  .footer__ .footer_main__ .footer_sub {
    padding: 1rem 0.2rem;
  }
  .footer__ .footer_main__ .footer_sub .accordian__ul li {
    font-size: 12px;
    margin-bottom: 0;
  }
  .footer__ .footer_main__ .footer_sub ul {
    font-size: 14px;
  }
  .footer__ .footer_main__ .footer_sub ul li {
    margin-bottom: 0.4rem;
    font-size: 12px;
  }
  .footer__ .footer_main__ .footer_sub p {
    max-width: 100%;
    font-size: 11px;
  }
  .social_media__ {
    padding: 1rem 0;
  }
  .social_media__ img {
    margin-inline: 4px;
  }
  .social_media__ > :first-child {
    margin: 0;
  }
  .footer__ .footer_main__ h4 {
    font-size: 16px;
  }
  .footer__ .footer_main__ .footer_sub .accordian__header {
    font-size: 14px;
  }
  .newslatter__ label {
    font-size: 12px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input {
    padding: 0.4rem 0.8rem;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::-moz-placeholder {
    font-size: 13px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::placeholder {
    font-size: 13px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .need_help__main .need_help___ button {
    position: relative;
    bottom: 2rem;
    right: -1.5rem;
    font-size: 10px;
  }
  .spare_room__ {
    display: none;
  }
  .spare_room_mobile {
    display: block;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 3000px) {
  .spare_room__ {
    display: block;
  }
  .spare_room_mobile {
    display: none;
  }
  html {
    overflow-x: hidden;
  }
  body {
    padding-top: 68px;
    overflow-x: hidden;
  }
  .mobile_view_bottom_bar {
    display: none;
  }
  .header__ {
    padding: 0.8rem 0.5rem;
  }
  .header__ .nav__ {
    gap: 1rem;
    padding: 0.4rem;
  }
  .header__ .nav_items__ {
    font-size: 15px;
  }
  .header__ .logo__ img {
    max-width: 150px;
  }
  .header__ .nav__signUp {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .header__ .nav__signUp .offcanvas_icons__ {
    display: none;
  }
  .header__ .nav__signUp .offcanvas_icons__ i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  .header__ button {
    min-width: 130px;
    font-size: 16px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header__ .nav__ .nav_items__ > ul {
    padding-left: 7rem;
  }
  .hero__ {
    padding: 1.3rem 0.5rem;
  }
  .hero__ .hero__main h2 {
    font-size: 3.9rem;
    line-height: normal;
  }
  .hero__ .hero__main .hero_selection {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 0.6rem;
  }
  .hero__ .hero__main .hero_selection > :nth-child(2) {
    margin-left: 0.2rem;
  }
  .hero__ .hero__main .hero_selection label {
    font-size: 19px;
  }
  .hero__ .hero__main .hero_selection input {
    height: 16px;
    width: 16px;
  }
  .hero__ .hero__main .hero_selection input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_selection input::placeholder {
    font-size: 14px;
  }
  .hero__ .hero__main .hero_serchbar {
    max-width: 40vw;
  }
  .hero__ .hero__main .hero_serchbar button {
    display: block;
  }
  .mobileView_search_btn {
    display: none;
  }
  .hero__ .hero__main p {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .uk_room_rental__ {
    padding: 4rem 1rem;
  }
  .uk_room_rental__ .uk_rental_main h3 {
    font-size: 2rem;
  }
  .uk_room_rental__ .uk_rental_main p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    max-width: 85%;
    margin-bottom: 0.8rem;
  }
  .uk_room_rental__ .uk_rental_cards {
    padding: 2rem;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ {
    margin-bottom: 1rem;
    padding: 2rem;
    min-height: 300px;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt h5 {
    font-weight: 700;
  }
  .uk_room_rental__ .uk_rental_cards .uk_rental_card__ .card_txt p {
    font-size: 15px;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
  }
  .uk_room_rental__ button {
    width: 20%;
    margin: 0;
  }
  .spare_room__ {
    padding: 3.5rem 1rem;
    text-align: start;
  }
  .spare_room__ .spare_room_main h3 {
    font-size: 2rem;
  }
  .spare_room__ .spare_room_main p {
    display: none;
  }
  .spare_room__ .spare_room_slider .spare_room_card .spare_room_details {
    position: relative;
  }
  .spare_room__ {
    text-align: center;
  }
  .spare_room__ button {
    margin: 0 auto;
    width: 25%;
  }
  .spare_room__ .sliderIcons {
    padding: 0;
    padding-right: 2rem;
  }
  .spare_room_mobile h3 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 89%;
  }
  .blogs_section__ {
    padding: 0;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    background-image: none;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: start;
  }
  .blogs_section__ .blog_card___ {
    border-radius: 1rem;
    border: none;
    text-align: center;
    margin: 2rem 0;
  }
  .blogs_section__ .blog_card___ button {
    width: 100%;
    font-size: 17px;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :first-child {
    width: 100%;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ {
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ h4 {
    padding-right: 0;
    font-size: 2rem;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(4) {
    font-size: 17px;
  }
  .blogs_section__ .blog_card___ .blog_leftside__ > :nth-child(2) {
    max-width: 100%;
    font-size: 16px;
  }
  .blogs_section__ .blog_card___ .blog_rightside {
    padding: 1rem;
  }
  .blogs_section__ .blog_card___ .blog_rightside > :nth-child(2) {
    display: block;
  }
  .cost_saving__ {
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cost_saving__ .cost-saving-details h4 {
    font-size: 2.5rem;
    line-height: normal;
  }
  .cost_saving__ .cost-saving-details p {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 17px;
    max-width: 89%;
  }
  .copyright_ {
    padding: 0.5rem;
  }
  .copyright_ p {
    font-size: 15px;
    padding: 0;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 300;
  }
  .copyright_rightside__ p {
    display: inline;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .footer__ .footer_main__ {
    padding: 1rem 0;
  }
  .footer_logo {
    margin-bottom: 1rem;
  }
  .footer__ .footer_main__ .footer_sub {
    padding: 1rem 0.2rem;
  }
  .footer__ .footer_main__ .footer_sub .accordian__ul li {
    font-size: 14px;
    margin-bottom: 0;
  }
  .footer__ .footer_main__ .footer_sub ul {
    font-size: 16px;
  }
  .footer__ .footer_main__ .footer_sub ul li {
    margin-bottom: 0.4rem;
    font-size: 16px;
  }
  .footer__ .footer_main__ .footer_sub p {
    max-width: 100%;
    font-size: 18px;
  }
  .social_media__ {
    padding: 1rem 0;
  }
  .social_media__ img {
    margin-inline: 4px;
  }
  .social_media__ > :first-child {
    margin: 0;
  }
  .footer__ .footer_main__ h4 {
    font-size: 19px;
  }
  .footer__ .footer_main__ .footer_sub .accordian__header {
    font-size: 16px;
  }
  .newslatter__ label {
    font-size: 16px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input {
    padding: 0.4rem 0.8rem;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::-moz-placeholder {
    font-size: 15px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ input::placeholder {
    font-size: 15px;
  }
  .footer__ .footer_main__ .footer_sub .newslatter__ button {
    font-size: 14px;
  }
}
.spare_room_mobile {
  padding: 20px;
  background: #f8f9fa;
  text-align: center;
}
.spare_room_mobile h3 {
  font-weight: 700;
}
.spare_room_mobile .owl-item {
  height: 20vh !important;
}
.spare_room_mobile button {
  background-color: rgb(238, 42, 123);
  color: rgb(255, 255, 255);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

.spare_room_carousel .item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inner-item {
  background: #ddd;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.inner-item .inner_txt {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: -3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.inner-item .inner_txt .item_bottom_icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.inner-item .inner_txt .item_bottom_icons p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.inner-item .inner_txt .inner_item_head {
  width: 100%;
  padding: 0.5rem;
}
.inner-item .inner_txt .inner_item_bootom {
  width: 100%;
  text-align: start;
  padding: 0.5rem;
}
.inner-item .inner_txt .inner_item_bootom .sliding_iconss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-item .inner_txt .inner_item_bootom .sliding_iconss .sliding_icons {
  margin-bottom: 0.5rem;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}
.inner-item .inner_txt .inner_item_bootom .sliding_iconss .sliding_icons i {
  color: black;
  font-size: 8px;
}
.inner-item .inner_txt .inner_sliding_dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
}
.inner-item .inner_txt .inner_sliding_dots .inner_dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: white;
}
.inner-item .inner_txt .inner_sliding_dots .active {
  background-color: #ee2a7b;
}
.inner-item .inner_txt img {
  max-width: 15px;
}
.inner-item .inner_txt p {
  font-size: 10px;
  margin-bottom: 0;
  color: white;
}
.inner-item .inner_txt p span {
  font-weight: 600;
}
.inner-item .inner_txt .inner_item_head {
  text-align: end;
}
.inner-item .inner_bg {
  height: 100%;
}
.inner-item .inner_bg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 0.5rem;
  width: 100%;
}

.outer_slider_dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.outer_slider_dots .outer_dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(217, 217, 217);
}
.outer_slider_dots .active {
  background-color: #ee2a7b;
}

.owl-nav button {
  background: #333 !important;
  color: #fff !important;
  border-radius: 50%;
  padding: 5px 10px !important;
}

.owl-nav button span {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */